<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sam_staff_id %>
    <%= form.text_field :sam_staff_id, id: :staff_sam_staff_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :staff_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :staff_last_name %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id, id: :staff_card_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
