
<% @courses.each do |course|%>
  <p>Add demonstrator for <b> <%= course.course_title %>: </b> </p>
  <%= form_tag({controller: "staffs", action: "create_demonstrator"}, method: "post") do %>
    <div class="form-group">
      <%= text_field_tag :sam_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Enter Student/Staff ID" %>
    </div>
    <% if @practicals_of_course[course.course_title].empty?%>
      <div class="form-group">
        <p>No upcoming practicals for the course</p>
      </div>
    <%else%>
      <div class="form-group">
        <%= label_tag(:practical_ids, "Select from the upcoming Practicals for the course:") %>
      </div>
      <div class="form-group">
        <ul>
          <%=collection_check_boxes(:practical_ids, :practical_ids, @practicals_of_course[course.course_title], :id, :start_time) do |b| %>
          <li>
            <%= b.label(:"data-value" => b.value) { b.check_box + "Start time: #{b.text.strftime("%A, %H:%M %d-%m-%Y")}" } %>
          </li>
          <% end %>
        </ul>
      </div>
    <%end%>
    
    <div class="actions">
      <%= submit_tag("Add Demonstrator", class: "btn btn-primary") %>
    </div>
  <% end %>
  <br>
  <br>
<% end %>



  

