<h3>Add demonstrator</h3>
<div id="accordion">
  <% @courses.each do |course|%>
      <div class="card primary-color">
      <a class="card-link" data-toggle="collapse" href="#<%= course.course_title %>">
        <div class="card-header"><%= course.course_title %></div>
      </a>
      <div id="<%= course.course_title %>" class="collapse" data-parent="#accordion">
        <div class="card-body dark-card">
          <%= form_tag({controller: "staffs", action: "create_demonstrator"}, method: "post") do %>
    <div class="form-group">
      <%= text_field_tag :sam_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Enter Student/Staff ID" %>
    </div>
    <% if @practicals_of_course[course.course_title].empty?%>
      <div class="form-group">
        <p>No upcoming practicals for the course</p>
      </div>
    <%else%>
      <div class="form-group">
        <%= label_tag(:practical_ids, "Select from the upcoming Practicals for the course:") %>
      </div>
      <div class="form-group">
        <ul>
          <%=collection_check_boxes(:practical_ids, :practical_ids, @practicals_of_course[course.course_title], :id, :start_time) do |b| %>
          <li>
            <%= b.label(:"data-value" => b.value) { b.check_box + "Start time: #{b.text.strftime("%I:%M %p | %a #{b.text.day.ordinalize} of %b %Y")}" } %>
          </li>
          <% end %>
        </ul>
      </div>
    <%end%>
    
    <div class="actions">
      <%= submit_tag("Add Demonstrator", class: "btn btn-primary") %>
    </div>
  <% end %>
        </div>
      </div>
      </div>
    <% end %>
</div>
  