<div class="col-md-12 text-center mx-auto">
  <h5>Attendance Statistics for certain Student</h5>
  <div class="row">
    <div class="col-md-6 offset-3">
      <%=form_tag({controller: "staffs", action: "attendance_statistics_for_certain_student"}, method: "get", class: "nifty_form") do %>
        <div class="form-group">
          <%= text_field_tag :sam_student_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Enter Student ID" %>
          </div>
        <div class="form-group">
          <%= select_tag :course_id, options_for_select(@courses.map{|course| ["#{course.course_title}", course.id]}), {class: "form-control"}%>
        </div>
        <div class="actions">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
    </div>
  </div>
  <p> Attendance Statistics for <%= @student.first_name %> <%= @student.last_name %> on the Course: <%= @course.course_title %></p>
</div>