<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<div class="col-md-auto">
<div class="col-md-6 col-md-offset-3 text-center mx-auto">
<%=form_tag({controller: "staffs", action: "delete_demonstrator"}, method: "get", class: "nifty_form") do %>
  <div class="row">
    <div class="col-12">
    <div class="form-group col-6 col-md-auto">
      <%= text_field_tag :sam_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Search Demonstrator by ID" %>
    </div>
    <div class="actions col-6 col-md-auto">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    </div>
  </div>
<% end %>
</div>

<hr>
<div class="col-md-auto">
<div class="col-md-12 mx-auto">
<% if !@hash.nil? %>
  <div id="accordion">
  <% @hash.each do |course, practicals| %>
    <% if !practicals.empty? %>
      <div class="card primary-color">
        <a class="card-link" data-toggle="collapse" href="#<%= course %>">
          <div class="card-header"><%= course %></div>
        </a>
        <div id="<%= course %>" class="collapse" data-parent="#accordion">
          <div class="card-body">
            
                      <table class="table table-dark table-striped">
                          <thead>
                            <tr>
                              <th class="text-center">Practical Date</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% practicals.each do |start_time, content| %>
                            <tr>
                              <td class="text-center align-middle"><%= start_time.strftime("%I:%M %p | %a #{start_time.day.ordinalize} of %b %Y") if !content.empty? %></td>
                              <td class="text-center align-middle"><%= link_to "Remove Demonstrator", destroy_demonstrator_path(id: content.first.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
          </div>
        </div>
        </div>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>
</div>