<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<div class="col-md-12 mx-auto">
  <div id="accordion">
  <% @hash.each do |course_title, practicals| %>
    <div class="card primary-color">
      <a class="card-link" data-toggle="collapse" href="#<%= course_title %>">
        <div class="card-header">
          <%= course_title %>
        </div>
      </a>
      <div id="<%= course_title %>" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div id="accordion_<%= course_title %>" class="accordion_second">
              <% practicals.each do |practical_start_time, content| %>
                 <div class="card">
                   <a class="card-link" data-toggle="collapse" href="#<%= course_title %>_<%= practical_start_time %>">
                    <div class="card-header"> <%= practical_start_time.strftime("%I:%M %p | %a #{practical_start_time.day.ordinalize} of %b %Y") %></div>
                  </a>
                    <div id="<%= course_title %>_<%= practical_start_time %>" class="collapse" data-parent="#accordion_<%= course_title %>">
                      <div class="card-body">
                        <% if content.empty? %>
                           No demonstrators
                       <% else %>
                       <div class="table-responsive">
                          <table class="table table-dark table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% content.each do |counter,demonstrator| %>
                            <tr>
                              <td><%= demonstrator[:sam_demonstrator_id] %></td>
                              <td><%= demonstrator[:first_name] %> </td>
                              <td><%= demonstrator[:last_name] %></td>
                              <td><%= demonstrator[:email] %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
  </div>
