<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<div class="col-md-12 mx-auto">

<div class="col-md-12 text-center mx-auto">
<%=form_tag({controller: "staffs", action: "manage_c6s"}, method: "get", class: "nifty_form") do %>
  <div class="row">
    <div class="form-group col-8">
      <%= text_field_tag :sam_student_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Search Student by ID" %>
    </div>
    <div class="actions col-4">
      <%= submit_tag "Search", class: "btn btn-primary float-left" %>
    </div>
  </div>
<% end %>
</div>



<div id="accordion">
<% @courses.each do |course| %>
  <% if !(@hash[course.course_title].empty?) %>
    <div class="card primary-color">
      <a class="card-link" data-toggle="collapse" href="#<%= course.course_title %>">
        <div class="card-header"><%= course.course_title %></div>
      </a>
      <div id="<%= course.course_title %>" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <table class="table table-dark table-striped">
                          <thead>
                            <tr>
                              <th class="text-center">ID</th>
                              <th class="text-center">Firstname</th>
                              <th class="text-center">Lastname</th>
                              <th class="text-center">Attendance History</th>
                              <th class="text-center">C6</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @hash[course.course_title].each do |certificate| %>
                            <tr>
                              <td class="text-center align-middle"><%= certificate.student.sam_student_id %></td>
                              <td class="text-center align-middle"><%= certificate.student.first_name %> </td>
                              <td class="text-center align-middle"><%= certificate.student.last_name %></td>
                              <% name = "#{certificate.student.first_name} #{certificate.student.last_name}" %>
                              <td class="text-center align-middle"><%= link_to 'Open', attendance_history_path(course_id: course.id, sam_student_id: certificate.student.sam_student_id), class: "btn btn-info" %></td>
                               <td class="text-center align-middle"><%= link_to 'Remove', remove_c6_path(certificate_id: certificate.id, student_id: certificate.student), data: { confirm: "Do you want to remove C6 for #{name}?" }, class: "btn btn-primary" %></td>
                            </tr>
                            <% end %>
                          </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
</div>