<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<button type="button" class="btn btn-dark btn-block"><span class="float-left"><%= @practical.start_time.strftime("%I:%M %p | %a #{@practical.start_time.day.ordinalize} of %b %Y") %> - Practical</span> <span class="float-right">Student Attended: <strong><%= @practical.attendances.count %></strong></span></button>
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
    </thead>
    <tbody>
      <!--goes through attendance entry list-->
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.student.sam_student_id %></td>
        <td><%= attendance.student.first_name %></td>
        <td><%= attendance.student.last_name %></td>
      </tr>
  <% end %>
  </table>