<h3>Practical on <%= @practical.start_time %> </h3>
<p><b>Number of Student attended: <%= @practical.attendances.count %> </b></p>
<p>Students attended:</p>
<% @attendances.each do |attendance| %>
  <p>Student ID: <%= attendance.student.sam_student_id %>   Name: <%= attendance.student.first_name%> <%= attendance.student.last_name %></p>
<% end %>