<p id="notice"><%= notice %></p>

<p>
  <strong>Sam staff:</strong>
  <%= @staff.sam_staff_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

<p>
  <strong>Card:</strong>
  <%= @staff.card_id %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
