<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @enrolment.course %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrolment.student %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
