<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<div class="col-md-12 text-center mx-auto">
<p><b>Your current practicals:</b></p>
<div class="row">
  <div class="col-md-6 offset-3">

        <% @current_practicals.each do |practical| %>
            <h1><%= practical.course.course_title %></h1> <p>Location: <%= practical.location %></p> 
            <%=form_tag({controller: "manual_attendance_recording", action: "search"}, method: "get", class: "nifty_form") do %>
            <div class="form-group">
              <%= text_field_tag :sam_student_id, nil, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Enter Student ID" %>
            </div>
              <%= hidden_field_tag(:course_id, practical.course.id) %>
              <%= hidden_field_tag(:practical_id, practical.id) %>
              <div class="actions">
                <%= submit_tag "Search", class: "btn btn-primary" %>
              </div>
            <% end %>
            <br>
        <% end %>  

  </div>
</div>
</div>

