<ul>
  <li>
    <%= link_to "Init practical", remote_path%>
  </li>
  <li>
    <%= link_to "Record attendance", record_path%>
  </li>
  <li>
    <%= link_to "List Demonstrators", demonstrator_list_path %>
  </li>
  <li>
    <%= link_to "Add Demonstrator to Practical(s)", add_demonstrator_path%>
  </li>
  <li>
    <%= link_to "Delete Demonstrator from Practical(s)", delete_demonstrator_path%>
  </li>
  <li>
    <%= link_to "Manage C6s", manage_c6s_path if ["staff_course_coordinator_and_demonstrator", "staff_course_coordinator", "staff_as_demonstrator", "student_demonstrator"].include?(session[:user_type])%>
  </li>
  <li>
    <%= link_to "Attendande Statistics", attendance_statistics_path%>
  </li>
</ul>