<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>
    
  <div class="form-group">
    <%= form.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= form.label :sam_student_id %>
    <%= form.text_field :sam_student_id, id: :student_sam_student_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :student_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :student_last_name %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id, id: :student_card_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <span class="picture">
    <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
