<p id="notice"><%= notice %></p>

<p>
  <strong>Sam student:</strong>
  <%= @student.sam_student_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Card:</strong>
  <%= @student.card_id %>
</p>

<p>
  <%= image_tag @student.picture.url if @student.picture? %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
