<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<div class="row">
<div class="col-md-6 col-md-offset-3 text-center mx-auto">
<%= form_with(model: pending_practical, local: true) do |form| %>
  <% if pending_practical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pending_practical.errors.count, "error") %> prohibited this pending_practical from being saved:</h2>

      <ul>
      <% pending_practical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.text_field :raspberry_pi_id, id: :pending_practical_raspberry_pi_id, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Enter Device ID" %>
  </div>
  
  <div class="form-group">
    <%= form.select :practical_id, options_for_select(@current_practicals.map{|practical| ["#{practical.course.course_title},  #{practical.location}", practical.id]}), {}, {class: "form-control"}%>
    
    <%#= form.collection_select(:practical_id, @current_practicals, :id, ) %>  
  </div>
  <div class="actions">
    <%= form.submit "Start Practical", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>