<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sam_course_id %>
    <%= form.text_field :sam_course_id, id: :course_sam_course_id %>
  </div>

  <div class="field">
    <%= form.label :course_title %>
    <%= form.text_field :course_title, id: :course_course_title %>
  </div>

  <div class="field">
    <%= form.label :staff_id %>
    <%= form.text_field :staff_id, id: :course_staff_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
