<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :attendance_student_id %>
  </div>

  <div class="field">
    <%= form.label :practical_id %>
    <%= form.text_field :practical_id, id: :attendance_practical_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
