<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student %>
</p>

<p>
  <strong>Practical:</strong>
  <%= @attendance.practical %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
